body.accessible {
    font-size: 120%;
    line-height: 1.6;
    background: #000;
    color: #fff;
}
body.accessible a {
    color: #ffff00;
    text-decoration: underline;
}
body.accessible .site-header,
body.accessible .site-footer {
    background: #000;
    color: #fff;
}
body.accessible .content {
    background: #000;
    color: #fff;
}
body.accessible h1,
body.accessible h2,
body.accessible h3 {
    color: #ffff00;
}
body.accessible input,
body.accessible textarea,
body.accessible select {
    background: #000;
    color: #fff;
    border: 2px solid #ffff00;
}
